:root{
  --bg-color: #fe564b;
  --dark: #c5433b;
  --primary: #fecc4b;
  --brown: #7e4e00;
  --brown-300: rgb(126, 78, 0, .9);
}

*{
  margin: 0;
  padding: 0;
  border-width: 0;
}

body{
  box-sizing: border-box;
  color: var(--primary);
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

nav{
  background-color: var(--dark);
}

#mint-pass{
  background-image: url("img/oil1.png");
  background-repeat: no-repeat;
  background-color: var(--dark);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

#breaking{
  margin-bottom: 6rem;
  background-image: url("img/oil2.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#about{
  background-color: var(--dark);
  padding: 100px 0;
  background: url("img/oil1.png") no-repeat center center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#gallery{
  background-color: var(--dark);
}

#roadmap{
  background-image: url("img/oil3.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  /* background-position: center center; */
  margin: 92px 0 70px;
}

#team{
  background-color: var(--dark);
  padding: 80px 0;
}

footer{
  background-color: var(--dark);
  padding: 45px 80px 200px;
}

.navbar-brand>img{
  @media screen (max-width: 1000) {
    width:  100px;
  }
}

.navlinks{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: white !important;
}

.hero-img-div{
  max-width: 700px;
}

.cust-btn{
  background-color: var(--primary);
  color: var(--brown);
  border: 9px solid var(--brown);
  border-radius: 30px;
  font-size: calc(1rem + .8vw);
  font-weight: 900;
  padding: 15px 36px;
}

.cust-btn:hover{
  color:var(--brown-300);
  border-color: var(--brown-300);
}

.brown-close-btn{
  filter: invert(19%) sepia(63%) saturate(4491%) hue-rotate(48deg) brightness(98%) contrast(104%);
}

.main-text{
  font-weight: 900;
}

.text-shadow{
  text-shadow:
    -5px -5px 0 var(--dark),
     0   -5px 0 var(--dark),
     5px -5px 0 var(--dark),
     5px  0   0 var(--dark),
     5px  5px 0 var(--dark),
     0    5px 0 var(--dark),
    -5px  5px 0 var(--dark),
    -5px  0   0 var(--dark);
}

.story-text{
  color: black;
  font-weight: bold;
  line-height: 1.4;
}

.story-card{
  padding: 40px;
  max-width: 566px;
  border-radius: 30px;
  margin: auto;
}

.comic-neue{
  font-family: 'Comic Neue', sans-serif;
}

.bold{
  font-weight: 500;
}

.list-letters{
  list-style-type: lower-alpha;
}

.card-title-cust{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: var(--bg-color);
  padding-bottom: 20px;
}

.flex-container{
  max-width: 1000px;
  gap: 24px;
  margin: auto;
}

.cust-modal-card{
  color: black;
  background-color: var(--primary);
  border-radius: 30px;
}

.cust-modal-title{
  color: var(--brown);
  font-weight: 900;
}

.roadmap-card{
  max-width: 575px;
  padding: 34px 24px;
  border-radius: 30px;
}

.roadmap-card-text{
  font-size: 14px;
  color: black;
  font-weight: bold;
  line-height: 1.4;
}

.team-card{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.team-names{
  font-size: 24px;
  font-weight: 900;
}

.team-container{
  max-width: fit-content;
  
}

.quantity-input{
  border: 1px solid rgba( 0, 0, 0, 1);
  font-size: 20px;
  font-family: 'Comic Neue', sans-serif;
}

.pass-form-text{
  color: black;
  font-size: 20px;
  font-family: 'Comic Neue', sans-serif;
}

.responsive-width{
  width: 75%;
}

@media screen and (min-width: 2000px) {
  #about{
    /* background-image: url(img/bg_image3_big_screen.png); */
    background-size: cover;
  }

  /* #mint-pass{
    background-image: url(img/bg_image3_big_screen.png);
    background-size: contain;
  }


  #roadmap{
    background-size: cover;
  } */
  
}

@media screen and (max-width: 992px) {
  #mint-pass{
    background-image: url("img/oil1_small.png");
  } 
  
  .about-card{
    padding: 24px;
  }

  .cust-btn{
    padding: 8px 12px;
    border: 6px solid var(--brown);
  }

  .main-text{
    text-shadow:
    -3px -3px 0 var(--dark),
     0   -3px 0 var(--dark),
     3px -3px 0 var(--dark),
     3px  0   0 var(--dark),
     3px  3px 0 var(--dark),
     0    3px 0 var(--dark),
    -3px  3px 0 var(--dark),
    -3px  0   0 var(--dark);
  }

  .story-text{
    font-size: 16px !important;
  }
  
  .card-title-cust{
    font-size: 18px !important;
  }

  .roadmap-card{
    padding: 4px 24px;
  }

  .responsive-width{
    width: 100%;
  }

  .pass-card-img{
    width: 96px;
  }

  footer{
    padding: 45px 35px 200px;
  }
}

@media screen and (max-width: 600px) {
  .about-card{
    margin: 16px;
  }

  body{
    scrollbar-width: none;
  }

  .main-text{
    text-shadow:
    -2px -2px 0 var(--dark),
     0   -2px 0 var(--dark),
     2px -2px 0 var(--dark),
     2px  0   0 var(--dark),
     2px  2px 0 var(--dark),
     0    2px 0 var(--dark),
    -2px  2px 0 var(--dark),
    -2px  0   0 var(--dark);
  }

  .cust-btn{
    border: 4px solid var(--brown);
    padding: 4px 10px;
  }

  .story-card{
    padding: 30px;
  }

  .story-text{
    font-size: 14px !important;
  }

  .card-title-cust{
    font-size: 16px;
  } 

  .flex-boxes{
    max-width: 95vw;
    padding: 14px 4px;
    margin: auto;
  }

  .pass-card-img{
    width: 64px;
  }

  .coming-soon-img{
    width: 128px;
    
  }
}